<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tutor Educational Record</title>
<style>

</style>
</head>
<a class="nav-link" href="{% url 't_home' %}">Home</a>
<body>
    
    <li><P1>Name : {{data2.name}}</P1>
        <li> <p1>NID : {{data2.NID}}</p1></li>
    <br>
    <li> <p1>SSC Division : {{data2.SSCDiv}}</p1></li>
    <li> <p1>SSC Year : {{data2.SSCyr}}</p1></li>
    <li><p1>SSC Result : {{data2.SSCres}}</p1></li>
    <li> <p1>SSC Institution : {{data2.SSCinst}}</p1></li>
    <br>
        <li> <p1>HSC Division : {{data2.HSCDiv}}</p1></li>
        <li> <p1>HSC Year : {{data2.HSCyr}}</p1></li>
        <li><p1>HSC Result : {{data2.HSCres}}</p1></li>
        <li><p1>HSC Institution : {{data2.HSCinst}}</p1></li>
        <br>
        <li><p1>UNDER GRADUATION SUBJECT : {{data2.UNDRsub}}</p1></li>
            <li><p1>UNDER GRADUATION Year : {{data2.UNDRyr}}</p1></li>
                <li><p1>UNDER GRADUATION Result : {{data2.UNDRres}}</p1></li>
                    <li><p1>UNDER GRADUATION Institution : {{data2.UNDRinst}}</p1></li>



</body>
</html>